//- includes/scripts.jade
//- script.
//-     (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
//-     function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
//-     e=o.createElement(i);r=o.getElementsByTagName(i)[0];
//-     e.src='https://www.google-analytics.com/analytics.js';
//-     r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
//-     ga('create','UA-XXXXX-X');ga('send','pageview');

// build:js scripts/vendor.js
// bower:js
script(src='/bower_components/jquery/dist/jquery.js')
// endbower
// endbuild

// build:js scripts/plugins.js
script(src='/bower_components/cssuseragent/cssua.js')
script(src='/bower_components/owl-carousel/owl-carousel/owl.carousel.js')
script(src='/bower_components/skrollr/src/skrollr.js')
script(src='/bower_components/froogaloop/froogaloop.js')
script(src='/bower_components/validetta/dist/validetta.js')
script(src='/bower_components/sweetalert/dist/sweetalert.min.js')
script(src='/bower_components/google-libphonenumber/dist/browser/libphonenumber.min.js')
script(src='/bower_components/country-region-selector/dist/crs.min.js')
// endbuild

// build:js scripts/main.js
script(src='/scripts/main.js')
script(src='/scripts/EdynStore.js')
script(src='/scripts/order.js')
script(src='/scripts/resetpassword.js')
// endbuild

script.
    window.intercomSettings = {
      app_id: "ok2utqwt"
    };

script.
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ok2utqwt';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
