.confirmation
    .content-sidebar
        h1 Order details
        .order
            .order-product
                img(src="images/edyn_sensor_thumbnail_2x.png", alt="", width="200", height="200")
                h2 Edyn garden sensor
                span.order-price #{order.total}
            table.order-summary
                tbody
                    tr
                        td Subtotal
                        td #{order.subtotal}
                    tr
                        td Standard shipping
                        td #{order.shipping}
                    tr
                        td Tax
                        td #{order.taxes}
                tfoot
                    tr
                        td Total
                        td #{order.total}
        
    .content-main
        h2 Your order has been placed!
        h3 Order number #{order.number}
        p 
            | We'd like to welcome you to the Edyn community - let's grow something wonderful together!
        p
            | Download for iOS or Android:
        a(class="button button-inverted button-app", href="#") Download the Edyn App
        .app
            a.button-appstore-outline(href='https://itunes.apple.com/us/app/edyn/id939748941?mt=8', target='_blank') Download from the App Store
            a.button-googleplay-outline(href='https://play.google.com/store/apps/details?id=com.edyn.apps.edyn', target='_blank') Get it on Google play
        h1 Order details
        .order
            .order-product
                img(src="images/edyn_sensor_thumbnail_2x.png", alt="", width="200", height="200")
                h2 Edyn garden sensor
                span.order-price $99.99
            table.order-summary
                tbody
                    tr
                        td Subtotal
                        td #{order.subtotal}
                    tr
                        td Standard shipping
                        td #{order.shipping}
                    tr
                        td Tax
                        td #{order.taxes}
                tfoot
                    tr
                        td Total
                        td #{order.total}
        .address
            h4 Shipping Address
            p
                |#{order.buyer.first_name} #{order.buyer.last_name}
                br
                |#{order.shipping_address.line1}
                br
                if order.shipping_address.line2
                    |#{order.shipping_address.line2}
                    br
                |#{order.shipping_address.city}, #{order.shipping_address.state} #{order.shipping_address.zip}
                br
                |#{order.shipping_address.phone}
        .address
            h4 Billing Address
            p
                |#{order.buyer.first_name} #{order.buyer.last_name}
                br
                |#{order.billing_address.line1}
                br
                if order.billing_address.line2
                    |#{order.billing_address.line2}
                    br
                |#{order.billing_address.city}, #{order.billing_address.state} #{order.billing_address.zip}
                br
                |#{order.billing_address.phone}
        hr.hidden.clearfix
        a(class="button button-inverted", href="#") Back home   
        hr.hidden.clearfix 
